{{- $fullName := include "octolytics-app.fullname" . -}}
{{/* === Global ExternalSecret for Env Vars === */}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: gcp-backend
    kind: ClusterSecretStore
  target:
    name: {{ $fullName }}
  data:
  {{- range .Values.secrets }}
  {{- if not .mountPath }}
    - secretKey: {{ .env }}
      remoteRef:
        key: {{ .key }}
  {{- end }}
  {{- end }}
---
{{/* === Global ExternalSecret for Mounted Files === */}}
{{- $globalSecretsWithMountPath := list -}}
{{- range .Values.secrets -}}
{{- if .mountPath -}}
{{- $globalSecretsWithMountPath = append $globalSecretsWithMountPath . -}}
{{- end -}}
{{- end -}}

{{- if gt (len $globalSecretsWithMountPath) 0 -}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $fullName }}-mount
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: gcp-backend
    kind: ClusterSecretStore
  target:
    name: {{ $fullName }}-mount
  data:
  {{- range $globalSecretsWithMountPath }}
    - secretKey: {{ .env }}
      remoteRef:
        key: {{ .key }}
  {{- end }}
{{- end }}

---
{{/* === Per-Container ExternalSecrets === */}}
{{- range .Values.containers }}
{{- $containerName := .name -}}
{{- /* Per-container secret for env vars */}}
{{- $containerSecretsEnv := list -}}
{{- range .secrets -}}
{{- if not .mountPath -}}
{{- $containerSecretsEnv = append $containerSecretsEnv . -}}
{{- end -}}
{{- end -}}

{{- if gt (len $containerSecretsEnv) 0 }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $fullName }}-{{ $containerName }}
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: gcp-backend
    kind: ClusterSecretStore
  target:
    name: {{ $fullName }}-{{ $containerName }}
  data:
  {{- range $containerSecretsEnv }}
    - secretKey: {{ .env }}
      remoteRef:
        key: {{ .key }}
  {{- end }}
---
{{- end -}} {{/* if containerSecretsEnv */}}

{{- /* Per-container secret for mounted files */}}
{{- $containerSecretsMount := list -}}
{{- range .secrets -}}
{{- if .mountPath -}}
{{- $containerSecretsMount = append $containerSecretsMount . -}}
{{- end -}}
{{- end -}}

{{- if gt (len $containerSecretsMount) 0 }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $fullName }}-{{ $containerName }}-mount
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: gcp-backend
    kind: ClusterSecretStore
  target:
    name: {{ $fullName }}-{{ $containerName }}-mount
  data:
  {{- range $containerSecretsMount }}
    - secretKey: {{ .env }}
      remoteRef:
        key: {{ .key }}
  {{- end }}
---
{{- end -}} {{/* if containerSecretsMount */}}
{{- end -}} {{/* range .Values.containers */}}