{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.application.name }}
  labels:
{{- include "octolytics-app.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  tls:
    - hosts:
      {{- range .Values.ingress.hosts }}
        - {{ . | quote }}
      {{- end }}
      {{/* This secretName is hardcoded in your result.yaml, so we hardcode it here. */}}
      secretName: api-octolytics-develop-octolytics-core-com-tls
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          {{- /* Find the container with ingress enabled to set the backend */}}
          {{- $serviceName := "" }}
          {{- $servicePort := "" }}
          {{- range $.Values.containers }}
            {{- if .ingress.enabled }}
              {{- $serviceName = (printf "%s-%s" $.Values.application.name .name) }}
              {{- $servicePort = .service.port }}
            {{- end }}
          {{- end }}
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $serviceName }}
                port:
                  number: {{ $servicePort }}
    {{- end }}
{{- end }}