{{- range .Values.containers }}
{{- if .service.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $.Values.application.name }}-{{ .name }}
  labels:
{{- include "octolytics-app.labels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ .name }}
spec:
  type: {{ .service.type }}
  ports:
    - port: {{ .service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
{{- include "octolytics-app.selectorLabels" $ | nindent 4 }}
{{- end }}
{{- end }}