---
# Source: octolytics-app/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: octolytics-core
  labels:
    helm.sh/chart: octolytics-app-0.1.0
    app.kubernetes.io/name: octolytics-core
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
  annotations:
    iam.gke.io/gcp-service-account: octolytics-us-central1-sa@octolytics-core.iam.gserviceaccount.com
---
# Source: octolytics-app/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: octolytics-core-api
  labels:
    helm.sh/chart: octolytics-app-0.1.0
    app.kubernetes.io/name: octolytics-core
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: octolytics-core
    app.kubernetes.io/instance: release-name
---
# Source: octolytics-app/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: octolytics-core
  labels:
    helm.sh/chart: octolytics-app-0.1.0
    app.kubernetes.io/name: octolytics-core
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: octolytics-core
      app.kubernetes.io/instance: release-name
  template:
    metadata:
      labels:
        app.kubernetes.io/name: octolytics-core
        app.kubernetes.io/instance: release-name
        admission.datadoghq.com/enabled: "true"
        tags.datadoghq.com/env: develop
        tags.datadoghq.com/service: octolytics-octolytics-core
    spec:
      serviceAccountName: octolytics-core
      securityContext: 
        {}
      containers:
        - name: sidecar
          securityContext: 
            {}
          image: "us-central1-docker.pkg.dev/octolytics-core/octolytics-repo/cloud-sql-proxy:1.33.3"
          imagePullPolicy: IfNotPresent
          env:
            - name: CLOUD_SQL_CONNECTION_NAME
              value: "octolytics-core:us-central1:octolytics-core-develop"
            - name: LOLOLOLO_LOLOLO
              value: "FOO"
            - name: SALT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: octolytics-core
                  key: SALT_PASSWORD
          volumeMounts:
            - mountPath: /usr/src/app/config
              name: global-secrets
              readOnly: true
              subPath: credentials.json
          resources:
            limits:
              cpu: 250m
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 512Mi
        - name: api
          securityContext: 
            {}
          image: "us-central1-docker.pkg.dev/octolytics-core/octolytics-repo/core:398106f9d099b05464bbb8bce365c88a064aa993"
          imagePullPolicy: IfNotPresent
          env:
            - name: CLOUD_SQL_CONNECTION_NAME
              value: "octolytics-core:us-central1:octolytics-core-develop"
            - name: API_ENV_VAR
              value: "some_value"
            - name: SALT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: octolytics-core
                  key: SALT_PASSWORD
            - name: FOO_BAR
              valueFrom:
                secretKeyRef:
                  name: octolytics-core-api
                  key: FOO_BAR
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 30
            httpGet:
              path: /octolytics/actuator/health
              port: http
          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 30
            failureThreshold: 3
            httpGet:
              path: /octolytics/actuator/health
              port: http
          volumeMounts:
            - mountPath: /tmp
              name: anotherDir
            - mountPath: /usr/src/app/config
              name: global-secrets
              readOnly: true
              subPath: credentials.json
          resources:
            limits:
              cpu: 1024m
              memory: 2048Mi
            requests:
              cpu: 1024m
              memory: 2048Mi
      volumes:
        - emptyDir: {}
          name: tmp
        - emptyDir: {}
          name: anotherDir
        - name: global-secrets
          secret:
            secretName: octolytics-core
---
# Source: octolytics-app/templates/hpa.yaml
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: octolytics-core
  labels:
    helm.sh/chart: octolytics-app-0.1.0
    app.kubernetes.io/name: octolytics-core
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  minReplicas: 1
  maxReplicas: 5
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: octolytics-core
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          averageUtilization: 25
          type: Utilization
    - type: Resource
      resource:
        name: memory
        target:
          averageUtilization: 80
          type: Utilization
---
# Source: octolytics-app/templates/ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: octolytics-core
  labels:
    helm.sh/chart: octolytics-app-0.1.0
    app.kubernetes.io/name: octolytics-core
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod-http
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: 512m
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "10"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
spec:
  tls:
    - hosts:
        - "api.octolytics.develop.octolytics-core.com"
      
      secretName: api-octolytics-develop-octolytics-core-com-tls
  rules:
    - host: "api.octolytics.develop.octolytics-core.com"
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: octolytics-core-api
                port:
                  number: 8080
---
# Source: octolytics-app/templates/external-secret.yaml
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: octolytics-core
  namespace: default
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: gcp-backend
    kind: ClusterSecretStore
  target:
    name: octolytics-core
  data:
    - secretKey: SALT_PASSWORD
      remoteRef:
        key: octolytics-octolytics-core-api-salt
    - secretKey: credentials.json
      remoteRef:
        key: octolytics-push-manager-prod-firebase
---
# Source: octolytics-app/templates/external-secret.yaml
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: octolytics-core-api
  namespace: default
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: gcp-backend
    kind: ClusterSecretStore
  target:
    name: octolytics-core-api
  data:
    - secretKey: FOO_BAR
      remoteRef:
        key: octolytics-octolytics-core-develop-foo-bar
