fullnameOverride: null
application:
  environment: develop
  name: octolytics-core
autoscaling:
  enabled: true
  maxReplicas: 5
  minReplicas: 1
  targetCPUUtilizationPercentage: 25
  targetMemoryUtilizationPercentage: 80
client: octolytics
extraLabels:
  admission.datadoghq.com/enabled: "true"
  tags.datadoghq.com/env: develop
  tags.datadoghq.com/service: octolytics-octolytics-core
replicaCount: 1
serviceAccount:
  annotations:
    iam.gke.io/gcp-service-account: octolytics-us-central1-sa@octolytics-core.iam.gserviceaccount.com
  create: true
  name: octolytics-core
ingress:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod-http
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: 512m
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "10"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
  enabled: true
  hosts:
    - api.octolytics.develop.octolytics-core.com
secrets:
  - env: SALT_PASSWORD
    key: octolytics-octolytics-core-api-salt
  - env: credentials.json
    key: octolytics-push-manager-prod-firebase
    mountPath: /usr/src/app/config
envs:
  - env: CLOUD_SQL_CONNECTION_NAME
    value: octolytics-core:us-central1:octolytics-core-develop

podAnnotations: {}
imagePullSecrets: {}
podSecurityContext: {}
securityContext: {}
nodeSelector: {}
affinity: {}
tolerations: {}
volumes:
  - name: tmp
    emptyDir: {}
  - name: anotherDir
    emptyDir: {}
volumeMounts: []
containers:
  - name: sidecar
    image:
      repository: us-central1-docker.pkg.dev/octolytics-core/octolytics-repo/cloud-sql-proxy
      tag: 1.33.3
      pullPolicy: IfNotPresent
    ingress:
      enabled: false
    healthcheck: {}
    secrets: []
    service:
      enabled: false
    envs:
      - env: LOLOLOLO_LOLOLO
        value: "FOO"
    resources:
      limits:
        cpu: 250m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 512Mi
  - name: api
    ingress:
      enabled: true
      hosts:
        - api.octolytics.develop.octolytics-core.com
      path: /
    volumeMounts:
      - name: anotherDir
        mountPath: /tmp
    resources:
      limits:
        cpu: 1024m
        memory: 2048Mi
      requests:
        cpu: 1024m
        memory: 2048Mi
    service:
      enabled: true
      port: 8080
      type: ClusterIP
    secrets:
      - env: FOO_BAR
        key: octolytics-octolytics-core-develop-foo-bar
    envs:
      - env: API_ENV_VAR
        value: some_value
    healthcheck:
      failures: 3
      initialWait: 10
      path: /octolytics/actuator/health
      period: 10
      timeout: 30
    image:
      pullPolicy: IfNotPresent
      repository: us-central1-docker.pkg.dev/octolytics-core/octolytics-repo/core
      tag: 398106f9d099b05464bbb8bce365c88a064aa993
